* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  /* overflow-x: hidden; */
}
/* START NAV STYLE */
.nav {
  background-color: #333333;
}
.nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav ul li {
  padding: 2%;
  color: white;
}
/* HERO STYLING */
.hero {
  background-color: #e8e8e8;
  display: flex;
  position: relative;
  height: 50vh;
}
.description {
  margin: 3rem;
  width: 40%;
}
.description h3 {
  font-size: 2rem;
  line-height: 2rem;
}
.description p {
  margin-top: 2rem;
  text-align: justify;
}

img {
  width: 80%;
  box-shadow: 1px 1px 10px black;
}
.up-img {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 20%;
}
.down-img {
  position: absolute;
  top: 20%;
  right: 20%;
  width: 20%;
}
.box-container {
  width: 40%;
  height: 100%;
  margin: 3rem auto;
  position: relative;
}
.box-container .box {
  padding: 5%;
}
.one {
  width: 0%;
  height: 0%;
  border-radius: 5%;
  background-color: aqua;
  box-shadow: -2px 2px black;
}
.two {
  width: 0px;
  height: 0px;
  border-radius: 5%;
  background-color: rgb(129, 29, 129);
  margin-left: 15%;
  box-shadow: -2px 2px black;
}
.three {
  width: 50px;
  height: 50px;
  border-radius: 5%;
  background-color: rgb(211, 80, 156);
  margin-left: 30%;
  box-shadow: -2px 2px black;
}

.four {
  position: absolute;
  bottom: 70%;
  left: 55%;
  width: 50px;
  height: 50px;
  border-radius: 5%;
  background-color: rgb(255, 221, 29);
  box-shadow: -2px 2px black;
}
.five {
  position: absolute;
  bottom: 30%;
  left: 45%;
  width: 50px;
  height: 50px;
  border-radius: 5%;
  background-color: rgb(0, 255, 55);
  box-shadow: -2px 2px black;
}

/* Left side */
.onee {
  position: absolute;
  top: 0%;
  right: 15%;
  width: 5%;
  height: 5%;
  border-radius: 5%;
  background-color: aqua;
  box-shadow: -2px 2px black;
}
.twoe {
  position: absolute;
  top: 35%;
  right: 5%;
  width: 50px;
  height: 50px;
  border-radius: 5%;
  background-color: rgb(129, 29, 129);
  box-shadow: -2px 2px black;
}
.threee {
  position: absolute;
  top: 70%;
  right: -6%;
  width: 50px;
  height: 50px;
  border-radius: 5%;
  background-color: rgb(211, 80, 156);
  box-shadow: -2px 2px black;
}

.fouer {
  position: absolute;
  top: 0%;
  right: -30%;
  width: 50px;
  height: 50px;
  border-radius: 5%;
  background-color: rgb(255, 221, 29);
  box-shadow: -2px 2px black;
}
.fivee {
  position: absolute;
  top: 35%;
  right: -20%;
  width: 50px;
  height: 50px;
  border-radius: 5%;
  background-color: rgb(0, 255, 55);
  box-shadow: -2px 2px black;
}
footer {
  padding: 3%;
  background: #333333;
}
footer p {
  color: #e8e8e8;
  text-align: center;
  margin: auto;
}
